:root{
    --themecolor:#D6BE00;
    --themetintlighter: #efe599;
}

/*Nav bar is a list of links, so make sure to only style nav-based links like this*/
nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--themecolor);
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;    
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: var(--themetintlighter);
    color: black;
    text-decoration: none;
}

/*This really is only used for the nav-bar, kind of ugly to dedicate an entire class to this*/
.active{
    background-color: white;
    color: black;
}

/*Generic link styling*/
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

table {    
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: var(--themetintlighter);
}

footer {
    background-color: var(--themecolor);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    text-align: center;
    color: white;
}

header{
    text-align: center;
}