:root{
    --themeColor:#D6BE00;
    --themeLighter: #efe599;
}
main{
    min-height: 70vh;
}
body{
    font-family: 'Courier New', Courier, monospace;
}

.nav{

}

/*
    Nav bar is a list of links, so make sure
    to only style nav-based links like this
*/
.nav__bar{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--themeColor);
}

.nav__item{
    float: left;
}

.nav__link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav__link:visited{
    text-decoration: none;
    color: white;
}

.nav__link:hover{
    background-color: var(--themeLighter);
    color: black;
    text-decoration: none;
}

/*
    This really is only used for the nav-bar,
    kind of ugly to dedicate an entire class to this
*/
.active{
    background-color: white;
    color: black;
    text-decoration: none;
}

.active:visited{
    background-color: white;
    color: black;
    text-decoration: none;
}

.active:hover{
    background-color: var(--themeLighter);
    color: black;
    text-decoration: none;
}

/*
    Generic link styling
*/
a{
    text-decoration: none;
}

a:visited{
    color: green;
}

a:hover{
    text-decoration: underline;
}

table {    
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: var(--themeLighter);
}

footer {
    background-color: var(--themeColor);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4em;
    text-align: center;
    color: white;
    padding-top: 4em;
}

header{
    text-align: center;    
    height: 7em;
    padding-top: 1em;
}

h1{
    display:inline-block;
}

.img--right{
    float: right;
    width: 100%;
    height: auto;
    max-width: 7.5em;
    max-height: 7.5em;
    
}

.img--left{
    float: left;
    width: 100%;
    height: auto;
    max-width: 7.5em;
    max-height: 7.5em;
}
@media screen and (min-width: 601px) {
    h1{
        font-size: auto;
    }
  }
  
/* If the screen size is 600px wide or less, we disable our images and scale down the header */
@media screen and (max-width: 600px) {
    h1{
        font-size: 150%;
    }

    .img--right{     
        display: none;
    }
    
    .img--left{
        display: none;
    }
  }