extends reusables/layout.pug

block content
  article
      h1 Login Form
        form(action='/login/auth', method='POST')
          input(type='text', name='username', placeholder='Username', required='')
          input(
            type='password',
            name='password',
            placeholder='Password',
            required=''
          )
          button(type='submit') Login
  script(src='../js/loginFeedback.js')
