extends reusables/layout.pug

block content
  article
    h2 Register Form
      form(action='/register/auth', method='POST')
        input(type='text', name='name', placeholder='Name', required)
        input(type='text', name='username', placeholder='Username', required)
        input(
          type='password',
          name='password',
          placeholder='Password',
          required
        )
        button(type='submit') Register
    details
     summary
      strong Password requirements
     p Your password should contain 1 lowercase letter, 1 uppercase letter, 1 numeric character, 1 special character, and must be 8 characters or longer.
  script(src='../js/registerFeedback.js')