head
  link(rel='stylesheet', type='text/css', href='../styles/style.css')
  link(rel='icon', href='../../images/uulogo.png', type='image/png')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial scale=1')
  meta(name='description', content='General information about JavaScript')
  meta(name='keywords', content='JavaScript, basics, definition')
  title= title
